<header>
	<h1>Welcome to Customer Tracker, <%= current_user.email %>!</h1>
	<h2>We're using Rails <%= Rails.version %></h2>
</header>

<section>
	<p>Dashboard</p>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>